doctype html
html 
  head
  
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Messages Board
    link(rel='stylesheet' type="text/css" href='/stylesheets/stylePage.css')
  
  body

    div#title-container
      a(href="http://localhost:3000/new", id="add-note-btn") +
      div
        h1 Mini Messages board
        p#messg-p Leave your message here!
    
#messages-container
  each message, index in messages
    - const style = styles[index]
          .mynote(style=`top: ${style.top}; left: ${style.left}; background-color: ${style['background-color']}; box-shadow: ${style['box-shadow']}; transform: ${style.transform}`)
            .mynoteheader(style=`background-image: ${style['background-image']}`)
            p.messageContent #{message.text}
            p.messageAuthor  #{message.user}
