doctype html
html 
  head
  
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Messages Board
    link(rel='stylesheet' type="text/css" href='/stylesheets/stylePage.css')

    script(src="/javascripts/dragNote.js" defer)
    script(src="/javascripts/rotateNote.js" defer)
    script(src="/javascripts/changeNoteColor.js" defer)
    script(src="/javascripts/sendStyleToServer.js" defer)
  body

    div#title-container
      div
        h1 Mini Messages board
        p#messg-p Save your style!
    
#messages-container
  each message, index in messages
    - const style = styles[index]
          form( method="POST" action="/savestyle")
            .mynote( style=`top: ${style.top}; left: ${style.left}; background-color: ${style['background-color']}; box-shadow: ${style['box-shadow']}; transform: ${style.transform}`)
              .mynoteheader(style=`background-image: ${style['background-image']}`)
              p.messageContent #{message.text}
              p.messageAuthor  #{message.user}
              button.saveBtn(type="submit" data-index=index) save
